.btn{
    background-color: transparent;
    border: 1px solid black;
    padding: 10 px 20px;
    border-radius: 20px;
}

.btn-red{
    background-color: tomato;
}

.btn-chocolate{
    background-color: rgb(138, 95, 17);
}

.btn-vainilla{
    background-color: rgb(249, 242, 44);
}

#titulo-3{
    font-size: 3rem;
    text-decoration: underline;
    font-family: 'Pacifico', cursive;
}